@charset "UTF-8";

@import url('style.css');

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#modal {
    width: 70%;
    max-width: 456px;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: var(--cor_primaria1);
    border-radius: 10px;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.modal-title {
    margin: 0;
    color: var(--cor_primaria4);
    font-family: var(--font_title);
}

.label-form {
    font-family: var(--font_title);
    font-size: 1.3em;
}

.input-form {
    width: 70%;
    height: 28px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 5px;
    margin-bottom: 10px;
    font-family: var(--font_paragrafo);
    background-color: var(--cor_primaria4);
    color: var(--cor_primaria1);
}

::placeholder {
    color: var(--cor_primaria1);
}

.span-modal {
    position: relative;
    font-size: 1em;
    display: block;
    margin: 0px 0px 10px 80px;
    color: red;
}

#name {
    position: relative;
    left: 1.4%;
}

#confirm-email {
    margin-left: 80px;
}
